
<div id="home-town">
    <h3>Home town:</h3>
    <p>'s-Hertogenbosch, Duchy of Brabant, Burgundian Netherlands</p>
</div>
<div id="life-time">
    <h3>Life time:</h3>
    <p>1450 – 9 August 1516</p>
</div>
<div id="intro">
    <h3>Dutch/Netherlandish painter</h3>
    <p>He is one of the most notable representatives of the Early Netherlandish painting school. His work, generally oil on oak wood, mainly contains fantastic illustrations of religious concepts and narratives. Within his lifetime his work was collected in the Netherlands, Austria, and Spain, and widely copied, especially his macabre and nightmarish depictions of hell. </p>
</div>
<div id="link">
    <h3>More information :</h3>
    <a href="https://en.wikipedia.org/wiki/Hieronymus_Bosch">Wiki page</a>
</div>
