<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
  </head>
  <body>
    <h2>Do you want to know more about him ?</h2>
    <p>Come with us</p>
    
  </body>
</html>
